.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #d2a172; /* Brownish color */
  color: #ead586; /* Yellow color for text */
  font-family: 'serif'; /* Old-fashioned font */
}
