.footer {
  background: #254246;
  color: rgb(4, 205, 250);
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.footer.footer {
  padding: 20px 0;
}

.footer a {
  color: rgb(29, 206, 35);
  text-decoration: none;
  margin: 0 15px;
  font-size: large;
  font-weight: bold;
}

/* .footer .footer-top {
  border-bottom: 1px solid #d2a172;
  padding-bottom: 20px;
  margin-bottom: 20px;
} */

.footer .footer-bottom {
  padding-top: 20px;
  font-weight: bold;
  font-size: x-large;
}

.social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin: 0 5px;
}
