.footer {
  background: #2a6bc6;
  color: #333;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.footer a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  font-size: large;
  font-weight: bold;
}

/* .footer .footer-top {
  border-bottom: 1px solid #d2a172;
  padding-bottom: 20px;
  margin-bottom: 20px;
} */

.footer .footer-bottom {
  font-weight: bold;
  font-size: x-large;
}

.social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin: 0 5px;
}
